/* BackToTop Button */
        .back-to-top {
            position: fixed;
            bottom: 40px;
            right: 40px;
            background-color: #D46929;
            color: white;
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s, transform 0.3s;
            z-index: 1000;
        }

        .back-to-top:hover {
            background-color: #e67839;
            transform: scale(1.2);
        }