body {

    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f5f0eb;
    overflow-x: hidden;
}

/* ================= NAVBAR ================= */
.navbar-fixed {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: hsl(7, 23%, 28%);
    padding: 10px 40px;
}

.navbar-left img {
    width: 50px;
}

.navbar a {
    color: white !important;
    font-weight: 500;
}

/* spacing biar tidak mepet */
.navbar-nav .nav-link {
    padding: 8px 15px;
}

/* ================= GALLERY ================= */
.gallery-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.gallery img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    background: white;
    padding: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: 0.2s ease;
}

.gallery img:hover {
    transform: scale(1.03);
}

/* ================= FOOTER ================= */
footer {
    background-color: #6E4946;
    color: white;
    display: flex;
    flex-direction: column;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 60px;
    gap: 30px;
    font-size: 16px;
}

footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.bottom-footer {
    text-align: center;
    border-top: 1px solid #ccbcbb;
    padding: 20px 0;
}
