*{
    margin: 0;
    top: 0;
}
/* AREA NAVBAR */
.navbar {
    width: 100%;
    background: #573A36;
    
}

.navbar .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
}

/* LOGO KIRI */
.navbar .navbar-container .navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;        /* jarak antar logo */
}
.navbar .navbar-container .navbar-left  img {
    width: 50px;
}

.navbar .navbar-container .navbar-menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.navbar .navbar-container .navbar-menu li{
    list-style: none;
}
.navbar .navbar-container .navbar-menu li a{
    color: white;
    text-decoration: none;
}


body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f7f3ef;
}

/* SECTION ABOUT */
.about {
    background: #ffffff;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
}

.about-container {
    max-width: 1100px;
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.about-container .text {
    flex: 1;
}

.about-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #4a3f37;
}

.gallery {
    width: 45%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

/* BUTTON */
.btn-primary {
    background: #c46e5a;
    color: #fff;
    padding: 10px 22px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #b45f4d;
}

.btn-outline {
    background: transparent;
    color: #4a3f37;
    padding: 10px 22px;
    border: 2px solid #4a3f37;
    border-radius: 25px;
    cursor: pointer;
}

.btn-outline:hover {
    background: #4a3f37;
    color: #fff;
}

/* SECTION VISIT */
.visit {
    padding: 70px 20px;
    text-align: center;
    background: #c7a293;
    color: #fff;
}

.visit h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.visit p {
    margin-bottom: 30px;
    font-size: 14px;
}

.visit .buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}
