


body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f7f3ef;
}


.banner-home {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(/gambar/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    flex-direction: column;
    gap: 40px;
    padding: 30px 100px;
    align-items: center;
    justify-content: center;
}



.banner-home .desc-main {
    text-align: center;
    color: #F7F3EE;
}

.banner-home .desc-main h1 {
    font-size: 3rem;
    font-weight: 800px;
    font-weight: bold;
    color: #F7F3EE;
}

.banner-home .btn-main .btn-main-coklat {
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #C47A63;
    border: none;
    color: #ffffff;
    box-shadow: 4px 4px 6px #000000;
}

.banner-home .btn-main .btn-main-putih {
    border-radius: 30px;
    padding: 10px 30px;
    background-color: rgba(199, 122, 99, 100, 0.7);
    border: none;
    color: #000000;
    box-shadow: 4px 4px 6px #000000;
}



.tentang-home {
    background-color: #F7F3EE;
    margin: 0;
    color: #553A2A;

}


 .tentang-beranda-left {
    text-align: left;
    padding: 40px 100px 40px 55px;
}

 .tentang-beranda-left .btn-main-home {
    padding: 10px;
    border: 2px solid #000000;
    margin: 10px;
}

.tentang-beranda-left .btn-main-coklat2 {
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #CE6060;
    border: none;
    color: #ffffff;
    box-shadow: 4px 4px 6px gray;
}


/* Kunjungi section */

.kunjungi-home {
    background-color: #B38877;
    height: 300px;
    padding: 40px 60px;
}

.kunjungi-home  {
    padding: 80px 20px;
    text-align: center;
}

.kunjungi-home .btn-main-coklat3 {
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #C47A63;
    border: none;
    color: #ffffff;
    box-shadow: 4px 4px 6px #000000;
}

.kunjungi-home  .btn-main-putih2 {
    border-radius: 30px;
    padding: 10px 30px;
    background-color: rgba(199, 122, 99, 100, 0.7);
    border: none;
    color: #6A5050;
}

