/* Nav Style */
*{
    margin: 0;
    top: 0;
    font-family: "Poppins", sans-serif;
}
/* AREA NAVBAR */
.navbar {
    width: 100%;
    background: #573A36;
}

.navbar .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
}

/* LOGO KIRI */
.navbar .navbar-container .navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;        /* jarak antar logo */
}
.navbar .navbar-container .navbar-left  img {
    width: 50px;
}

.navbar .navbar-container .navbar-menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.navbar .navbar-container .navbar-menu li{
    list-style: none;
}
.navbar .navbar-container .navbar-menu li a{
    color: white;
    text-decoration: none;
}
/* end nav */

/* start hero */
main section .img-ft1 {
    height: 600px;
    width: 100%;
}

main section .text-wrapper-2{
    position: absolute;
    font-weight: bold;
    stroke-width: 100px;
    stroke: #53332f;
    margin-left: 480px;
    margin-top: 200px;
    font-size: 80px;
    color: rgb(255, 243, 220);
}

main section .text-wrapper-5{
    position:absolute ;
    margin-left: 540px;
    margin-top: 300px;
    color: white;
    padding-right: 500px;
    text-align: center;

}

main  section article .text-wrapper-4 {
    position-area: absolute;
    margin-left: 100px;
    margin-top: 10px;
    color: orange;
}

main section article .text-wrapper-3 {
    position-area: absolute;
    margin-left: 100px;
    margin-top: 10px;
    color: #573A36;
    padding-right: 500px;
}

main section article .program-wisata {
    position-area: absolute;
    margin-left: 100px;
    margin-top: 10px;
    color: #573A36;
    padding-right: 500px;
    margin-bottom: 50px;

}
/* end hero */


/* Footer Syyle */

.footer {
    background-color: #5e3f39;   /* warna coklat tua */
    color: #f5e9da;              /* warna tulisan */
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;
}

/* GRID */
.footer-container {
    max-width: 1150px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 0 20px;
}

/* SETIAP KOLOM */
.footer-section h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
    margin: 4px 0;
}

/* MAP IMAGE */
.map-img {
    width: 100%;
    border-radius: 10px;
}

/* GARIS PEMBATAS */
.footer-line {
    width: 90%;
    margin: 40px auto 20px;
    border: 0.5px solid #c5b3a9;
}

/* COPYRIGHT */
.copyright {
    text-align: center;
    font-size: 13px;
    padding-bottom: 20px;
    color: #f5e9da;
}
.navbar-custom {
    background-color: #53332f !important;
    padding: 10px 30px;
}

.navbar-custom #logo-tefa img{
    width: 76px;
}

.navbar-custom #logo-polije img{
    width: 76px;
}

.navbar-custom #logo-sip img{
    width: 76px;
}

.navbar-custom .navbar-nav{
    gap: 40px;
}

.navbar-custom .navbar-link{
    color: #ffff !important;
    font-size: 1rem;
}


/* Footer Style */
/* FOOTER WRAPPER */
.footer {
    background-color: #5e3f39;   /* warna coklat tua */
    color: #f5e9da;              /* warna tulisan */
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;
}

/* GRID */
.footer-container {
    max-width: 1150px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 0 20px;
}

/* SETIAP KOLOM */
.footer-section h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
    margin: 4px 0;
}

/* MAP IMAGE */
.map-img {
    width: 100%;
    border-radius: 10px;
}

/* GARIS PEMBATAS */
.footer-line {
    width: 90%;
    margin: 40px auto 20px;
    border: 0.5px solid #c5b3a9;
}

/* COPYRIGHT */
.copyright {
    text-align: center;
    font-size: 13px;
    padding-bottom: 20px;
    color: #f5e9da;
}