/* Nav Style */
*{
    margin: 0;
    top: 0;
    font-family: "Poppins", sans-serif;
}
/* AREA NAVBAR */
.navbar {
    width: 100%;
    background: #573A36;
}

.navbar .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
}

/* LOGO KIRI */
.navbar .navbar-container .navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;        /* jarak antar logo */
}
.navbar .navbar-container .navbar-left  img {
    width: 50px;
}

.navbar .navbar-container .navbar-menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.navbar .navbar-container .navbar-menu li{
    list-style: none;
}
.navbar .navbar-container .navbar-menu li a{
    color: white;
    text-decoration: none;
}
/* end nav */

/* start hero */
main section .img-ft1 {
    height: 670px;
    width: 100%;
}

main section .text-wrapper-2{
    position: absolute;
    font-weight: bold;
    stroke-width: 100px;
    stroke: #53332f;
    margin-left: 480px;
    margin-top: 200px;
    font-size: 80px;
    color: rgb(255, 243, 220);
}

main section article .text-wrapper-3 {
    position-area: absolute;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 10px;
    color: #573A36;
    padding-right: 500px;
    margin-bottom: 20px;
}

main  section article .text-wrapper-4 {
    position-area: absolute;
    margin-left: 100px;
    margin-top: 10px;
    color: orange;
    margin-top: 50px;
}

main section .text-wrapper-5{
    position:absolute ;
    margin-left: 540px;
    margin-top: 300px;
    color: white;
    padding-right: 500px;
    text-align: center;

}

main section .text-wrapper-6{
    margin-left: 500px;
    margin-top: 30px;
    color: #ffffff;
    padding-right: 500px;
    margin-bottom: 40px;
}

main section article .program-wisata {
    position-area: absolute;
    margin-left: 100px;
    margin-top: 10px;
    color: #573A36;
    padding-right: 500px;
    margin-bottom: 50px;

}

main section .menampung-img{
    background-color: #573A36;
    height: 400px;

}

main section .menampung-button {
    background-color:#682e18;
    border-radius: 20px;
    font-family: "Poppins";
    padding: 15px;
    padding-left:20px;
    width: 180px;
    margin-left: 80px;
    margin-top: 1700px;
    position: absolute;
}

main section div .Dokumentasi-1 {
    position: absolute;
    height: 250px;
    margin-top: 1100px;
    margin-left: 800px;
    border-radius: 10px;
    /* box-shadow = x,y,blur,spread, color */
    box-shadow: 4px -5px 5px 10px #682e18;
}

main section .Dokumentasi-2 {
    height: 250px;
    margin-left: 150px;
    border-radius: 10px;
    box-shadow: 4px -5px 5px 10px #682e18;
}

section .text-wrapper-9 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 90px;
    margin-left: 100px;
    color: black;
}

section .mari-bergabung-dan {
    margin-left: 50px;
    margin-top: px;
    border-radius: 20px;
}

.cta-section{
    background-color: #ac5f41 ;
    min-height: 400px;
    width: 1200px;
    margin: auto;
    border-radius: 20px;
    margin-top: 50px;
    color: #ffffff;
}

.h1h1 h2{
padding-top: 40px;
margin-left: 50px;
}


.Menampung-info{
    background-color: #c5b3a9;
    width: 300px;
    border-radius: 18px;
    margin-left: 800px;
}

.whatsapp-2 {
    height: 70px;
}

.instagram-3 {
    height: 70px;
}

.icon-lokasi {
    height: 60px;
}

section div .mari-bergabung-dan {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 30px;
}

section div .frame{
    text-decoration: none;
    color: #ffff;
}

section div .text-wrapper-8{
    margin-top: 20px;
    padding: 10px ;
}



/* end hero */



/* Footer Syyle */

.footer {
    background-color: #5e3f39;   /* warna coklat tua */
    color: #f5e9da;              /* warna tulisan */
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;
}

/* GRID */
.footer-container {
    max-width: 1150px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 0 20px;
}

/* SETIAP KOLOM */
.footer-section h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
    margin: 4px 0;
}

/* MAP IMAGE */
.map-img {
    width: 100%;
    border-radius: 10px;
}

/* GARIS PEMBATAS */
.footer-line {
    width: 90%;
    margin: 40px auto 20px;
    border: 0.5px solid #c5b3a9;
}

/* COPYRIGHT */
.copyright {
    text-align: center;
    font-size: 13px;
    padding-bottom: 20px;
    color: #f5e9da;
}
.navbar-custom {
    background-color: #53332f !important;
    padding: 10px 30px;
}

.navbar-custom #logo-tefa img{
    width: 76px;
}

.navbar-custom #logo-polije img{
    width: 76px;
}

.navbar-custom #logo-sip img{
    width: 76px;
}

.navbar-custom .navbar-nav{
    gap: 40px;
}

.navbar-custom .navbar-link{
    color: #ffff !important;
    font-size: 1rem;
}


/* Footer Style */
/* FOOTER WRAPPER */
.footer {
    background-color: #5e3f39;   /* warna coklat tua */
    color: #f5e9da;              /* warna tulisan */
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;
}

/* GRID */
.footer-container {
    max-width: 1150px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 0 20px;
}

/* SETIAP KOLOM */
.footer-section h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
    margin: 4px 0;
}

/* MAP IMAGE */
.map-img {
    width: 100%;
    border-radius: 10px;
}

/* GARIS PEMBATAS */
.footer-line {
    width: 90%;
    margin: 40px auto 20px;
    border: 0.5px solid #c5b3a9;
}

/* COPYRIGHT */
.copyright {
    text-align: center;
    font-size: 13px;
    padding-bottom: 20px;
    color: #f5e9da;
}