/* Nav Style */
*{
    margin: 0;
    top: 0;
    font-family: "Poppins", sans-serif;
}
/* AREA NAVBAR */
.navbar {
    width: 100%;
    background: #573A36;
}

.navbar .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
}

/* LOGO KIRI */
.navbar .navbar-container .navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;        /* jarak antar logo */
}
.navbar .navbar-container .navbar-left  img {
    width: 50px;
}

.navbar .navbar-container .navbar-menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.navbar .navbar-container .navbar-menu li{
    list-style: none;
}
.navbar .navbar-container .navbar-menu li a{
    color: white;
    text-decoration: none;
}
/* end nav */

/* start hero */
main section .img-ft1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

main section .text-wrapper-2{
    position: absolute;
    font-weight: bold;
    stroke-width: 100px;
    stroke: #53332f;
    margin-left: 480px;
    margin-top: 200px;
    font-size: 80px;
    color: rgb(255, 243, 220);
}

main section article .text-wrapper-3 {
    position-area: absolute;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 10px;
    color: #573A36;
    padding-right: 500px;
    margin-bottom: 20px;
}

main  section article .text-wrapper-4 {
    position-area: absolute;
    margin-left: 100px;
    margin-top: 10px;
    color: orange;
    margin-top: 50px;
}

main section .text-wrapper-5{
    position:absolute ;
    margin-left: 540px;
    margin-top: 300px;
    color: white;
    padding-right: 500px;
    text-align: center;

}

main section .text-wrapper-6{
    margin-left: 500px;
    margin-top: 60px;
    color: #ffffff;
    padding-right: 500px;
    margin-bottom: 40px;
}


main section article .program-wisata {
    position-area: absolute;
    margin-left: 100px;
    margin-top: 10px;
    color: #573A36;
    padding-right: 500px;
    margin-bottom: 50px;
    
}

main section .menampung-img{
    background-color: #573A36;
    height: 400px;
    
}


main section div .Dokumentasi-1 {
    position: absolute;
    height: 250px;
    width: 400px;
    margin-top: 1100px;
    margin-left: 800px;
    border-radius: 10px;
    /* box-shadow = x,y,blur,spread, color */
    box-shadow: 4px -5px 5px 10px #682e18;
}

main section .Dokumentasi-2 {
    height: 250px;
    width: 400px;
    margin-left: 300px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 4px -5px 5px 10px #682e18;
}

main section .menampung-button {
    background-color:#682e18;
    border-radius: 20px;
    font-family: "Poppins";
    padding: 15px;
    padding-left:20px;
    width: 180px;
    margin-left: 80px;
    margin-top: 1700px;
    position: absolute;
}

section .text-wrapper-9 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 90px;
    margin-left: 100px;
    color: black;
}

.menampung-p{
    margin-left: 50px;
    margin-top: 20px;
}
/* 
section .mari-bergabung-dan {
    } */
    
    .cta-section{
        background-color: #ac5f41 ;
        min-height: 400px;
        width: 1200px;
        margin: auto;
        border-radius: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        color: #ffffff;
    }
    
    
    .h1h1 h2{
        padding-top: 40px;
        margin-left: 50px;
    }
    
    
    .Menampung-info{
        background-color: #d89774;
        width: 300px;
        position: absolute;
        border-radius: 18px;
        margin-left: 750px;
        margin-top: 1490px;
        margin-bottom: 90px;
        padding-bottom: 20px;
    }
    
    .text-wrapper-7 {
        margin-top: 10px;
        margin-left: 70px;
    }

    .whatsapp-2 {
        height: 70px;
        margin-left: 0%;
    }

    .text-wrapper-12 {
        margin-left: 80px;
        margin: top     9px;
    }

    .instagram-3 {
        height: 70px;
        margin-left: 10px;
    }

section div .text-wrapper-13 {
        max-width: 10px;
        margin-left: 80px;
        margin-bottom: 0px;
    }

    .icon-lokasi {
        height: 60px;
        margin-left: 15px;
    }

    .text-wrapper-14 {
        margin-left: 80px;
        margin-top: 250px;
        position:absolute;
    }







section div .frame{
    text-decoration: none;
    color: #ffff;
}

section div .text-wrapper-8{
    margin-top: 20px;
    padding: 10px ;
}



/* end hero */

/* Footer Syyle */

.footer{
    background-color: #6E4946;
    color: #ffff;
}

.footer .map-footer .container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px 60px;
}

.footer .map-footer .container-footer img{
    width: 300px;
    height: 200px;
    padding: 40px 10px 20px 60px;
    border-radius: 15px;
}

.footer .map-footer .container-footer h3{
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: bold;
}

.footer .map-footer .container-footer{
    font-size: 1rem;
    font-weight: 800px;
}

.copy .container-copy .bottom-footer{
    font-size: 1rem;
    font-weight: 800px;
    text-align: center;
    justify-content: center;
    padding: 50px 60px;
}


/* End FOOTER */