body {
    text-decoration: none;
    overflow-x: hidden;
}

*{
    margin: 0;
    top: 0;
    font-family: "Poppins", sans-serif;
}
/* Nav Style */
/* AREA NAVBAR */
.navbar {
    width: 100%;
    background: hsl(7, 23%, 28%);
    padding: 10px 60px;
}

.navbar .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    width: 100%;
}

.navbar ul li a {
    color: white;
}
/* LOGO KIRI */
.navbar .navbar-container .navbar-left {
    display: flex;
    align-items: start;
    gap: 10px;        /* jarak antar logo */
}
.navbar  .navbar-left  img {
    width: 50px;
}

.navbar .navbar-container .navbar-menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.navbar .navbar-container .navbar-menu li{
    list-style: none;
}
.navbar .navbar-container .navbar-menu li a{
    color: white;
    text-decoration: none;
}
/* Footer Syyle */

footer {
    background-color: #6E4946;
    color: #ffff;
    height: 90%;
}

/* .py-2{
    display: flex;
    grid-template-columns: repeat(4, 1fr);
} */

.desc-main-footer img{
    width: 300px;
    height: 200px;
    padding: 40px 10px 20px 60px;
    border-radius: 15px;
}

/* .py-2 .desc-main-footer .kontak-main-footer .jam-footer .container-copy {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px 60px; */


/* .footer{
    background-color: #6E4946;
    color: #ffff;
} */

.footer .map-footer .container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px 60px;
}

.footer .map-footer .container-footer img{
    width: 300px;
    height: 200px;
    padding: 40px 10px 20px 60px;
    border-radius: 15px;
}

.footer .map-footer .container-footer h3{

    font-size: 1rem;
    font-weight: bold;
}

.footer .map-footer .container-footer{
    font-size: 1rem;
    font-weight: 800px;
}

.copy .container-copy .bottom-footer{
    font-size: 1rem;
    font-weight: 800px;
    text-align: center;
    justify-content: center;
    padding: 50px 60px;
}

.container-copy .garis-footer {
        border: none;
        border-top: 4px  ;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 30px;
        width: 80%;
} 

/* Responsive  */

  /* footer .map-footer .container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px 60px;
} */
    