/* Nav Style */
*{
    margin: 0;
    top: 0;
    font-family: "Poppins", sans-serif;
}
/* AREA NAVBAR */
.navbar {
    width: 100%;
    background: #573A36;
}

.navbar .navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
}

/* LOGO KIRI */
.navbar .navbar-container .navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;        /* jarak antar logo */
}
.navbar .navbar-container .navbar-left  img {
    width: 50px;
}

.navbar .navbar-container .navbar-menu{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.navbar .navbar-container .navbar-menu li{
    list-style: none;
}
.navbar .navbar-container .navbar-menu li a{
    color: white;
    text-decoration: none;
}
/* Footer Syyle */

.footer{
    background-color: #6E4946;
    color: #ffff;
}

.footer .map-footer .container-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px 60px;
}

.footer .map-footer .container-footer img{
    width: 300px;
    height: 200px;
    padding: 40px 10px 20px 60px;
    border-radius: 15px;
}

.footer .map-footer .container-footer h3{

    font-size: 1rem;
    font-weight: bold;
}

.footer .map-footer .container-footer{
    font-size: 1rem;
    font-weight: 800px;
}

.copy .container-copy .bottom-footer{
    font-size: 1rem;
    font-weight: 800px;
    text-align: center;
    justify-content: center;
    padding: 50px 60px;
}