body {
    text-decoration: none;
    overflow-x: hidden;
}

* {
    margin: 0;
    top: 0;
    font-family: "Poppins", sans-serif;
}

/* Nav Style */
/* AREA NAVBAR */
header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: hsl(7, 23%, 28%);
    padding: 0px 60px;
}

.navbar-nav {
    position: absolute;
    transform: translate(570px, 20px);
}

.navbar .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    width: 100%;
}

.navbar ul li a {
    color: white;
}

/* LOGO KIRI */
.navbar .navbar-container .navbar-left {
    display: flex;
    align-items: start;
    gap: 10px;
    /* jarak antar logo */
}

.navbar .navbar-left img {
    width: 50px;
}

.navbar .navbar-container .navbar-menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.navbar .navbar-container .navbar-menu li {
    list-style: none;
}

.navbar .navbar-container .navbar-menu li a {
    color: white;
    text-decoration: none;
}

/* Footer Style */
footer {
    background-color: #6E4946;
    color: #ffff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

footer .top-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 70px;
    gap: 30px;
    font-size: 16px;
}

footer .top-footer h3 {
    font-size: 18px;
    font-weight: bold;
}

footer .bottom-footer {
    text-align: center;
    border-top: #ccbcbb 1px solid;
    padding-top: 20px;
}