body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f7f3ef;
}


.banner-home {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(/gambar/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    flex-direction: column;
    gap: 40px;
    padding: 30px 100px;
    align-items: center;
    justify-content: center;
}

.banner-home .desc-main {
    text-align: center;
    color: #F7F3EE;
}

.banner-home .desc-main h1 {
    font-size: 3rem;
    font-weight: 800px;
    font-weight: bold;
    color: #F7F3EE;
}

.tentang-home .foto-1 {
    width: 400px;
}

